In [43]:
import pandas as pd
import requests
import time
import json

In [3]:
df = pd.read_csv('201612-hubway-tripdata.csv')

In [4]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2016-12-01 00:13:14,2016-12-01 00:28:46,218,Watermark Seaport,42.351543,-71.045730,58,The Esplanade - Beacon St. at Arlington St.,42.355596,-71.072780,1085,Subscriber,1994,1
1,1486,2016-12-01 00:23:46,2016-12-01 00:48:33,33,Kenmore Sq / Comm Ave,42.348706,-71.097009,102,Powder House Circle - Nathan Tufts Park,42.400877,-71.116772,650,Subscriber,1991,1
2,2360,2016-12-01 00:32:41,2016-12-01 01:12:02,58,The Esplanade - Beacon St. at Arlington St.,42.355596,-71.072780,58,The Esplanade - Beacon St. at Arlington St.,42.355596,-71.072780,1085,Subscriber,1994,1
3,276,2016-12-01 00:37:55,2016-12-01 00:42:32,80,MIT Stata Center at Vassar St / Main St,42.361962,-71.092053,178,MIT Pacific St at Purrington St,42.359573,-71.101295,1236,Subscriber,1987,2
4,716,2016-12-01 00:41:10,2016-12-01 00:53:07,7,Fan Pier,42.353287,-71.044389,25,Tremont St / W Newton St,42.341332,-71.076847,1917,Subscriber,1991,1

In [17]:
def get_response(start_lat, start_lng, end_lat, end_lng):
    url = 'https://api.uber.com/v1.2/estimates/price?start_latitude={0}&start_longitude={1}&end_latitude={2}&end_longitude={3}'.format(start_lat, start_lng, end_lat, end_lng)
    api_token ='Rmah_eOq6rBjc-UjQZtszGJX3JAaqhf620WaHYgM'
    authorization_token = 'Token ' + api_token
    response = requests.get(url, headers={'Authorization': authorization_token, 'Accept-Language':'en_US','Content-Type':'application/json'})
    return response

In [42]:
start_time = time.time()
start_lat = df.iloc[0]['start station latitude']
start_lng = df.iloc[0]['start station longitude']
end_lat = df.iloc[0]['end station latitude']
end_lng = df.iloc[0]['end station longitude']
x = get_response(start_lat, start_lng, end_lat, end_lng)
status_code = x.status_code
if status_code == 200:
    y = json.loads(x.text)
    uber_pool = y['prices'][0]
    uber_x = y['prices'][1]
    z = [status_code, uber_pool['distance'], uber_pool['duration'], uber_pool['high_estimate'], uber_pool['low_estimate'],
    uber_x['distance'], uber_x['duration'], uber_x['high_estimate'], uber_x['low_estimate']]
else:
    z = [status_code, None, None, None, None, None, None, None, None]
end_time = time.time()
time.sleep(min(2.5 - (end_time - start_time), 0))

waiting
ok